.card {
    position: relative;
}

.card img.album-cover {
    float: left;
    border-radius: 5px 0px 0px 5px;
}

.card-text {
    display: block;
    float: right;
    width: 50%;
}

.card-text p.card-date {
    margin-bottom: 20px;
}

.purchase {
    position: absolute;
    bottom: 20px;
    right: 10px;
    max-width: 90px;
    margin: 20px 10px 0px 0px;
}

#amazon {
    right: 120px;
    bottom: 22px;
}

.track-list {
    padding: 0;
    font-family: 'Raleway';
    font-weight: 400;
    max-height: 200 px;
    overflow-y: auto;   
    margin-bottom: 80px;
}

.track-list li {
    margin-bottom: 10px;
}

p.track-info {
    margin: 0;
    padding: 0;
}

.track-info .title {
    font-weight: 600;
}

.track-info .composer {
    font-style: italic;
    display: inline-block;
    float: right;
}

.single-track audio {
    display: inline-block;
    max-width: 96px;
    padding: 0;
    margin-left: 12px;
}

@media screen and (max-width:800px){
    .card {
        padding-bottom: 45px;
    }

    .card img.album-cover {
        width: 100%;
        border-radius: 0px;
    }
}