{% extends 'base.html' %}
{% load static %}

{# Adds page-specific header info #}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'events/events.css' %}"/>
{% endblock %}

{# Adds title to browser tab #}

{% block title %}{{ Events }}{% endblock %}

{# This is the content of the web page, displayed below the navbar #}
{% block content %}
<section id='fullpage'>
    <h1>Upcoming Events</h1>
</section>

<section id='events'>
{# this runs if there are future events #}
    {% if future_events %}
        {% for event in future_events %}
        <!-- wrapper for card -->
        <div class='event-card'>
            {% if event.event_image%}
                <img src='{{ event.event_image.url }}' alt='{{ event.title }}'>
            {% endif %}
            <!-- wrapper for text on card -->
            <div class='event-text'>
                <h3>{{ event.title }}</h3>
                <p class='event-date'>{{ event.event_date }} at {{ event.event_time }}</p>

                <address class='event-address'>
                    <p class='venue'>{{ event.location.venue_name }}</p>
                    <!-- link wrapper to google maps for address -->
                    <a href = '//maps.google.com/maps?q={{ event.location.street_address}} {{ event.location.city }} {{ event.location.state_or_country }} {{ event.location.postal_code }}'
                        target='_blank'>
                        <p class='street'>{{ event.location.street_address }}</p>
                        <p class='city-state-zip'>
                            {{ event.location.city }}, {{ event.location.state_or_country }} 
                            {{ event.location.postal_code }}
                        </p>
                    </a>
                </address>
                {% if event.write_up %}
                <!-- container for event write-up. Defaults to hidden, but can be expanded with button click -->
                <section class='write-up'>
                    {{ event.write_up|safe }}
                </section>
                <span class='button'>Read More</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class='event-card'>
        <div class='event-text'><h3>More Events Coming Soon</h3></div>
    </div>
    {% endif %}

    <h1>Past Events</h1>

    {# this runs if there are past events #}
    {% if past_events %}
        {% for event in past_events %}
        <!-- wrapper for card -->
        <div class='event-card past'>
            {% if event.event_image%}
                <img src='{{ event.event_image.url }}' alt='{{ event.title }}'>
            {% endif %}
            <!-- wrapper for text on card -->
            <div class='event-text'>
                <h3>{{ event.title }}</h3>
                <p class='event-date'>{{ event.event_date }} at {{ event.event_time }}</p>

                <address class='event-address'>
                    <p class='venue'>{{ event.location.venue_name }}</p>
                    <!-- link wrapper to google maps for address -->
                    <a href = '//maps.google.com/maps?q={{ event.location.street_address }} {{ event.location.city }} {{ event.location.state_or_country }} {{ event.location.postal_code }}'
                        target='_blank'>
                        <p class='street'>{{ event.location.street_address }}</p>
                        <p class='city-state-zip'>
                            {{ event.location.city }}, {{ event.location.state_or_country }} 
                            {{ event.location.postal_code }}
                        </p>
                    </a>
                </address>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'events/events.js' %}"></script>
{% endblock %}