{% extends 'base.html' %}
{% load static %}

{# Adds page-specific header info #}
{% block header %}
{% endblock %}

{# Adds title to browser tab #}

{% block title %}{{ about.title }}{% endblock %}

{# This is the content of the web page, displayed below the navbar #}
{% block content %}
<section id='fullpage'>
    <h1>{{ about.name }}</h1>
    <h3>{{ about.birth_date }}</h3>
    <img src="{% static 'home/images/about-page.jpg' %}" alt='{{ about.name }}' class="portrait">
    <p>{{ about.bio|linebreaks }}</p>
</section>
{% endblock %}