{% extends 'base.html' %}
{% load static %}

{# Adds page-specific header info #}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}"/>
{% endblock %}

{# Adds title to browser tab #}
{% block title %}{{ home.title }}{% endblock %}

{# This is the content of the web page, displayed below the navbar #}
{% block content %}
<section id="homepage-text">
    <h1>{{ home.headline }}</h1>
    <h3>{{ home.sub_headline }}</h3>
    <a href="#">{{ home.call_to_action }}</a>
</section>
{% endblock %}