<!DOCTYPE html>
<html lang="en-us">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta property="fb:app_id" content="914092952061390"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Work+Sans:300,400" rel="stylesheet">
    {% block header %}
    {% endblock %}
    <title>{% block title %}Chris Condon{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand-centered" href="{% url 'home:index' %}">
                <img id="brand" alt="Chris Condon: Saxophone" src="{% static 'home/images/chris-logo.png' %}"/>
            </a>
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home:index' %}">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">PROJECTS</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">ALBUMS</a></li>               
              </ul>
        </div>
    </div>
</nav>
{% block jumbotron %}
{% endblock %}
<div id='content'>
    {% block content %}
        You shouldn't be seeing this page.
    {% endblock %}
</div>
<br/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
</body>
</html>