{% extends 'base.html' %}
{% load static %}

{# Adds page-specific header info #}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/projects.css' %}"/>
{% endblock %}

{# Adds title to browser tab #}
{% block title %}Projects{% endblock %}

{# This is the content of the web page, displayed below the navbar #}
{% block content %}

<section id='list-page'>
<h1>Projects Tagged: {{ tag.title }}</h1>
    {% if tag.projects %}
    <section class='cards'>
        {% for project in tag.projects.all %}
        <!-- wrapper for card -->
            <div class="card">
                {# show project header at top of card #}
                {% if project.header_image %}
                <a href="{% url 'projects:detail' project.pk project.slug %}">
                    <img src="{{ project.header_image.url }}">
                </a>
                {# or default to default header #}
                {% else %}
                <a href="{% url 'projects:detail' project.pk project.slug %}">
                    <img class="project-card-header" src="{% static 'projects/images/default_header.jpg' %}">
                </a>
                {% endif %}
                <div class="card-text">
                    <h3>
                        <a href="{% url 'projects:detail' project.pk project.slug %}">{{ project.title }}</a>
                    </h3>
                    <hr>
                    <span class="card-date">
                        {{ project.pub_date.date }}
                    </span>
                </div>
            </div>    
        {% endfor %}
        </section>
    {% else %}
    <h1>Coming Soon</h1>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
{% endblock %}