#about h1 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    width: 100%;
    margin-bottom: 20px;
}

#about h3 {
    display: inline-block;
    font-family: 'Playfair Display SC', serif;
    font-size: 32px;
    font-style: italic;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 0;
}

#about p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.41;
    font-size: 15px;
}