html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    font-kerning: normal;
    background-color: #203446;
    color: #111;
}

.navbar {
    min-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 106%;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: .5px;
}

.navbar-default {
    background-image: linear-gradient(to bottom,#fff 0,#f1f1f3 100%);
    border-radius: 0;
}

.navbar-nav {
    padding-top: 15px;
}

.navbar-brand, #brand {
    margin-top: 15px;
    margin-left: -5px;
}

#brand {
    width: 200px;
}

#bs-example-navbar-collapse-1 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 200px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -100px;
    }
}

.portrait {
    float: right;
    width: 38%;
    margin-left: 30px;
    margin-bottom: 30px;
}

#content {
    
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

#fullpage {
    width: 90%;
    max-width: 800px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #f6f7f6;
    box-shadow: 3px 3px 6px black;
    box-sizing: border-box;
    border-radius: 5px;
}

#fullpage h1 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    width: 100%;
    margin-bottom: 20px;
}

#fullpage h3 {
    display: inline-block;
    font-family: 'Playfair Display SC', serif;
    font-size: 32px;
    font-style: italic;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: 1px;
}

#fullpage p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.41;
    font-size: 15px;
}