#content {
    background: url('../images/home-page-bg.jpg') no-repeat center center;
    background-size: cover;
    max-height: calc(100vh - 80px); /* minus height of navbar */
}

#homepage-text {
    display: block;
    width: 35vw;
    position: relative;
    top: 25vh;
    left: 62vw;
}

h1, h3 {
    margin-top: 0;
    text-shadow: 3px 3px 6px black; 
}

#homepage-text h1, h3 {
    color: #f0f0ef;
}

#homepage-text h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    width: 100%;
    margin-bottom: 8px;
    letter-spacing: 3px;
}

#homepage-text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 25px;
    letter-spacing: 3px;
}

#homepage-text a {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    background: #287227;
    color: #f0f0ef;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
    transition: all .2s;
    transition-timing-function: ease-in-out;
}

#homepage-text a:hover {
    text-decoration: none;
    background: #69a38f;
}

@media screen and (max-width:760px){
    #homepage-text {
        top: 40vh;
        left: 55vw;
        width: 50vw;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
    }

    #homepage-text h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #homepage-text h3 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    #homepage-text a {
        font-size: 12px;
        padding: 7px 14px;
    }
}